@* @model SIDS.Plugin.Misc.NewProductsSlider.Models.NewProductsListModel
@{ *@
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")
<form asp-controller="WidgetsNivoSlider" asp-action="Configure" method="post">
    <section class="content">
        NO CONFIGURATION NEEDED
    </section>

  @*   <table>
        <tr>
            <th>SKU</th>
            <th>Product Name</th>
            <th>Is New</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
        @foreach(var product in Model.Products)
        {
            <tr>
                <td>@product.Sku</td>
                <td>@product.ProductName</td>
                <td>@product.IsNew</td>
                <td>@product.StartDate</td>
                <td>@product.EndDate</td>
            </tr>
        }
    </table> *@
</form>